USE [master]
GO
/****** Object:  Database [InventoryDb]    Script Date: 8/27/2025 7:52:32 PM ******/
CREATE DATABASE [InventoryDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InventoryDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InventoryDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/27/2025 7:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 8/27/2025 7:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[StoreId] [int] NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[LastUpdated] [datetime2](7) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/27/2025 7:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[MinStockLevel] [int] NOT NULL,
	[LeadTimeDays] [int] NOT NULL,
	[MaxStorageQty] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReorderRecommendations]    Script Date: 8/27/2025 7:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReorderRecommendations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[StoreId] [int] NOT NULL,
	[RecommendedQuantity] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[GeneratedDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ReorderRecommendations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesTransactions]    Script Date: 8/27/2025 7:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoreId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[SaleDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SalesTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 8/27/2025 7:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](450) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/27/2025 7:52:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[StoreId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250824195556_InitialCommit', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250826142927_AddRowVersionToInventory', N'9.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250827125931_AddUniqueIndexes', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[Inventories] ON 

INSERT [dbo].[Inventories] ([Id], [ProductId], [StoreId], [CurrentStock], [LastUpdated]) VALUES (1, 1, 1, 6, CAST(N'2025-08-26T15:59:30.7572023' AS DateTime2))
INSERT [dbo].[Inventories] ([Id], [ProductId], [StoreId], [CurrentStock], [LastUpdated]) VALUES (2, 2, 1, 3, CAST(N'2025-08-08T20:32:37.8579246' AS DateTime2))
INSERT [dbo].[Inventories] ([Id], [ProductId], [StoreId], [CurrentStock], [LastUpdated]) VALUES (3, 3, 1, 5, CAST(N'2025-08-16T20:32:37.8579256' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Inventories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [SKU], [Name], [Category], [Price], [MinStockLevel], [LeadTimeDays], [MaxStorageQty]) VALUES (1, N'SKU001', N'Coca Cola 1', N'Beverages', CAST(2.00 AS Decimal(10, 2)), 5, 1, 50)
INSERT [dbo].[Products] ([Id], [SKU], [Name], [Category], [Price], [MinStockLevel], [LeadTimeDays], [MaxStorageQty]) VALUES (2, N'SKU002', N'Pepsi 2', N'Snacks', CAST(2.50 AS Decimal(10, 2)), 6, 2, 60)
INSERT [dbo].[Products] ([Id], [SKU], [Name], [Category], [Price], [MinStockLevel], [LeadTimeDays], [MaxStorageQty]) VALUES (3, N'SKU003', N'Water Bottle 3', N'Dairy', CAST(3.00 AS Decimal(10, 2)), 7, 3, 70)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesTransactions] ON 

INSERT [dbo].[SalesTransactions] ([Id], [StoreId], [ProductId], [Quantity], [UnitPrice], [SaleDate]) VALUES (1, 3, 34, 2, CAST(19.95 AS Decimal(10, 2)), CAST(N'2025-05-27T17:41:37.9741040' AS DateTime2))
INSERT [dbo].[SalesTransactions] ([Id], [StoreId], [ProductId], [Quantity], [UnitPrice], [SaleDate]) VALUES (2, 2, 8, 2, CAST(5.50 AS Decimal(10, 2)), CAST(N'2025-05-27T13:38:37.9741040' AS DateTime2))
INSERT [dbo].[SalesTransactions] ([Id], [StoreId], [ProductId], [Quantity], [UnitPrice], [SaleDate]) VALUES (3, 3, 13, 2, CAST(8.35 AS Decimal(10, 2)), CAST(N'2025-05-27T07:03:37.9741040' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[SalesTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Stores] ON 

INSERT [dbo].[Stores] ([Id], [Name], [Code], [Address]) VALUES (1, N'7-Eleven_North', N'2025N', N'123 Main St, North')
INSERT [dbo].[Stores] ([Id], [Name], [Code], [Address]) VALUES (2, N'7-Eleven_South', N'2025S', N'456 High St, South')
INSERT [dbo].[Stores] ([Id], [Name], [Code], [Address]) VALUES (3, N'7-Eleven_West', N'2025W', N'789 Low st, West')
SET IDENTITY_INSERT [dbo].[Stores] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Role], [StoreId]) VALUES (1, N'operator1', N'operator1@2025.com', N'$2a$11$zWCfFGe6bWKh3e1vgG9l/OjSA0mPgrkbzjIWXlGlWr1XXxyftw0di', N'StoreOperator', 1)
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Role], [StoreId]) VALUES (2, N'manager1', N'manager1@2025.com', N'$2a$11$lvX4eZSl6yy7zO/CwCxe6eppLd4oLE7hK9JusCZ165EZAUjn5Yo9a', N'StoreManager', 1)
INSERT [dbo].[Users] ([Id], [Username], [Email], [PasswordHash], [Role], [StoreId]) VALUES (3, N'operator2', N'operator2@2025.com', N'$2a$11$ZFoImqKwAFobsYWUt4vXquFIH9RxOsg1UZkBkmSJGajN5URksgPja', N'StoreOperator', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Inventories_ProductId]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inventories_ProductId] ON [dbo].[Inventories]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventories_StoreId]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inventories_StoreId] ON [dbo].[Inventories]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_SKU]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_SKU] ON [dbo].[Products]
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReorderRecommendations_ProductId]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReorderRecommendations_ProductId] ON [dbo].[ReorderRecommendations]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReorderRecommendations_StoreId]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReorderRecommendations_StoreId] ON [dbo].[ReorderRecommendations]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesTransactions_ProductId]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesTransactions_ProductId] ON [dbo].[SalesTransactions]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesTransactions_StoreId]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_SalesTransactions_StoreId] ON [dbo].[SalesTransactions]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Stores_Code]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Stores_Code] ON [dbo].[Stores]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_StoreId]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_StoreId] ON [dbo].[Users]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 8/27/2025 7:52:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Products_ProductId]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Stores_StoreId]
GO
ALTER TABLE [dbo].[ReorderRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_ReorderRecommendations_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReorderRecommendations] CHECK CONSTRAINT [FK_ReorderRecommendations_Products_ProductId]
GO
ALTER TABLE [dbo].[ReorderRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_ReorderRecommendations_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReorderRecommendations] CHECK CONSTRAINT [FK_ReorderRecommendations_Stores_StoreId]
GO
ALTER TABLE [dbo].[SalesTransactions]  WITH CHECK ADD  CONSTRAINT [FK_SalesTransactions_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesTransactions] CHECK CONSTRAINT [FK_SalesTransactions_Products_ProductId]
GO
ALTER TABLE [dbo].[SalesTransactions]  WITH CHECK ADD  CONSTRAINT [FK_SalesTransactions_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesTransactions] CHECK CONSTRAINT [FK_SalesTransactions_Stores_StoreId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Stores_StoreId]
GO
USE [master]
GO
